<section class="section resumn swing-in-top-fwd">
    <div class="discount__container container2 grid">

        <%= image_tag "software.png", :class =>"discount__img"%>

        <div class="discount__data">
            <h2 class="discount__title">Processo Seletivo</h2>
            <h3 class="discount__subtitle">Aplicação CRUD com foco em cadastro e pesquisa<br /> de usuários, realizada como parte
                dos requisitos<br /> do processo seletivo da empresa Cadena Sistemas</h3>
        </div>

    </div>

</section>